<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="home">
      <ion-icon src="assets/icon/menu.svg"></ion-icon>
      <br>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon src="assets/icon/shop.svg"></ion-icon>
      <br>
      <ion-label>Prductos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">      
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon  src="assets/icon/newspaper.svg"></ion-icon>
      <br>
      <ion-label>Reportes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5" class="custom-profile">
      <ion-icon src="assets/icon/levels.svg"></ion-icon>
      <br>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  <!-- <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ventastab">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Ventas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar> -->

</ion-tabs>
<ion-fab horizontal="center" vertical="bottom" edge>
  <ion-badge color="secondary">22</ion-badge>
  <ion-fab-button color="light">
    <ion-icon color="primary" src="assets/icon/shopping-cart.svg"></ion-icon>
  </ion-fab-button> 
</ion-fab>