<ion-header class="ion-no-border">
  <ion-toolbar style="--background: transparent">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-text color="light">Bienvenido </ion-text>
          <img class="b3 emoji wa" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
        </ion-col>
        <ion-col size="12">
          <ion-text color="light">Al sistema de facturación móvil</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>   
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <ion-card color="medium" class="card ion-no-padding ion-no-margin ">
    <ion-card-content class="card-content">
      <ion-card class="card ion-no-padding ion-no-margin">
        <ion-card-content class="card-content-second">
          <ion-item lines="none">
            <ion-label color="tertiary ion-text-end font-size-10" slot="end">
              345 Resultados
            </ion-label>
          </ion-item>        
          <ion-grid class="ion-no-padding">            
            <ion-row>
              <ion-col size="6" class="ion-no-padding ion-padding-start">
                <div class="ion-text-center">
                  <img src="https://http2.mlstatic.com/D_NQ_NP_608262-MPE32065616296_092019-O.jpg" style="max-width: 150px; max-height: 150px;"/>
                </div>
                <ion-grid>
                  <ion-row>
                    <ion-col size="9">
                     <ion-text><strong>Ariel (300)</strong> </ion-text>
                     <br>
                     <ion-text color="primary"><strong>S/ 5.00</strong> </ion-text>
                    </ion-col>
                    <ion-col size="3" class="ion-align-self-end ion-text-end">  
                      <ion-segment  (ionChange)="segmentChanged($event)" class="segment">
                        <ion-segment-button class="segment-button" value="dogs">
                          <ion-label>+</ion-label>
                        </ion-segment-button>
                        <ion-segment-button class="segment-button" value="cats">
                          <ion-label>-</ion-label>
                        </ion-segment-button>
                      </ion-segment>
                    </ion-col>
                  </ion-row>
                </ion-grid>                
              </ion-col>
              <ion-col size="6" class="ion-no-padding ion-padding-start">
                <div class="ion-text-center">
                  <img src="https://http2.mlstatic.com/D_NQ_NP_608262-MPE32065616296_092019-O.jpg" style="max-width: 150px; max-height: 150px;"/>
                </div>
                <ion-grid>
                  <ion-row>
                    <ion-col size="9">
                     <ion-text><strong>Ariel (300)</strong> </ion-text>
                     <br>
                     <ion-text color="primary"><strong>S/ 5.00</strong> </ion-text>
                    </ion-col>
                    <ion-col size="3" class="ion-align-self-end ion-text-end">  
                      <ion-segment  (ionChange)="segmentChanged($event)" class="segment">
                        <ion-segment-button class="segment-button" value="dogs">
                          <ion-label>+</ion-label>
                        </ion-segment-button>
                        <ion-segment-button class="segment-button" value="cats">
                          <ion-label>-</ion-label>
                        </ion-segment-button>
                      </ion-segment>
                    </ion-col>
                  </ion-row>
                </ion-grid>                
              </ion-col>
              <ion-col size="6" class="ion-no-padding ion-padding-start">
                <div class="ion-text-center">
                  <img src="https://http2.mlstatic.com/D_NQ_NP_608262-MPE32065616296_092019-O.jpg" style="max-width: 150px; max-height: 150px;"/>
                </div>
                <ion-grid>
                  <ion-row>
                    <ion-col size="9">
                     <ion-text><strong>Ariel (300)</strong> </ion-text>
                     <br>
                     <ion-text color="primary"><strong>S/ 5.00</strong> </ion-text>
                    </ion-col>
                    <ion-col size="3" class="ion-align-self-end ion-text-end">  
                      <ion-segment  (ionChange)="segmentChanged($event)" class="segment">
                        <ion-segment-button class="segment-button" value="dogs">
                          <ion-label>+</ion-label>
                        </ion-segment-button>
                        <ion-segment-button class="segment-button" value="cats">
                          <ion-label>-</ion-label>
                        </ion-segment-button>
                      </ion-segment>
                    </ion-col>
                  </ion-row>
                </ion-grid>                
              </ion-col>
              <ion-col size="6" class="ion-no-padding ion-padding-start">
                <div class="ion-text-center">
                  <img src="https://http2.mlstatic.com/D_NQ_NP_608262-MPE32065616296_092019-O.jpg" style="max-width: 150px; max-height: 150px;"/>
                </div>
                <ion-grid>
                  <ion-row>
                    <ion-col size="9">
                     <ion-text><strong>Ariel (300)</strong> </ion-text>
                     <br>
                     <ion-text color="primary"><strong>S/ 5.00</strong> </ion-text>
                    </ion-col>
                    <ion-col size="3" class="ion-align-self-end ion-text-end">  
                      <ion-segment  (ionChange)="segmentChanged($event)" class="segment">
                        <ion-segment-button class="segment-button" value="dogs">
                          <ion-label>+</ion-label>
                        </ion-segment-button>
                        <ion-segment-button class="segment-button" value="cats">
                          <ion-label>-</ion-label>
                        </ion-segment-button>
                      </ion-segment>
                    </ion-col>
                  </ion-row>
                </ion-grid>                
              </ion-col>
              <ion-col size="6" class="ion-no-padding ion-padding-start">
                <div class="ion-text-center">
                  <img src="https://http2.mlstatic.com/D_NQ_NP_608262-MPE32065616296_092019-O.jpg" style="max-width: 150px; max-height: 150px;"/>
                </div>
                <ion-grid>
                  <ion-row>
                    <ion-col size="9">
                     <ion-text><strong>Ariel (300)</strong> </ion-text>
                     <br>
                     <ion-text color="primary"><strong>S/ 5.00</strong> </ion-text>
                    </ion-col>
                    <ion-col size="3" class="ion-align-self-end ion-text-end">  
                      <ion-segment  (ionChange)="segmentChanged($event)" class="segment">
                        <ion-segment-button class="segment-button" value="dogs">
                          <ion-label>+</ion-label>
                        </ion-segment-button>
                        <ion-segment-button class="segment-button" value="cats">
                          <ion-label>-</ion-label>
                        </ion-segment-button>
                      </ion-segment>
                    </ion-col>
                  </ion-row>
                </ion-grid>                
              </ion-col>
              <ion-col size="6">
                <ion-card>
                  <img src="https://www.corporacionliderperu.com/shop/30558-large_default/ace-detergente-x-500-gr.jpg"/>
                  <ion-card-header>
                    <ion-card-subtitle>Ariel 300gr</ion-card-subtitle>
                    <ion-card-title>S/ 5.00</ion-card-title>
                  </ion-card-header>
                </ion-card>
              </ion-col>
              <ion-col size="6">
                <ion-card class="card-item">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFwMQkE6WbwcpdxiXLSJPBFhjNedvkGVBR9w&usqp=CAU"/>
                  <ion-card-header>
                    <ion-card-subtitle>Ariel 300gr</ion-card-subtitle>
                    <ion-card-title>S/ 5.00</ion-card-title>
                  </ion-card-header>
                </ion-card>
              </ion-col>
              <ion-col size="6">
                <ion-card>
                  <img src="https://ionicframework.com/docs/v3/dist/preview-app/www/assets/img/bjork-live.jpg"/>
                  <ion-card-header>
                    <ion-card-subtitle>Ariel 300gr</ion-card-subtitle>
                    <ion-card-title>S/ 5.00</ion-card-title>
                  </ion-card-header>
                </ion-card>
              </ion-col>
              <ion-col size="6">
                <ion-card>
                  <img src="https://ionicframework.com/docs/v3/dist/preview-app/www/assets/img/bjork-live.jpg"/>
                  <ion-card-header>
                    <ion-card-subtitle>Ariel 300gr</ion-card-subtitle>
                    <ion-card-title>S/ 5.00</ion-card-title>
                  </ion-card-header>
                </ion-card>
              </ion-col>
              <ion-col size="6">
                <ion-card>
                  <img src="https://ionicframework.com/docs/v3/dist/preview-app/www/assets/img/bjork-live.jpg"/>
                  <ion-card-header>
                    <ion-card-subtitle>Ariel 300gr</ion-card-subtitle>
                    <ion-card-title>S/ 5.00</ion-card-title>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>      
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar class="toolbarfooter">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-start">
          <strong>Total</strong>
        </ion-col>
        <ion-col class="ion-text-end">
          <strong>S/ 150.00</strong>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
